html {
  caret-color: rgba(0, 0, 0, 0);
}

#main_div {
  display: flex;
}

.action_gauge_progress_bar {
  background-color: yellow;
  height: 0%;
  width: 100%;
  position: absolute;
  bottom: 0%;
}

.action_gauge_container {
  background-color: grey;
  height: 20em;
  width: 3%;
  position: relative;
  left: 1%;
}

#player_action_gauge1_container {
  left: 1%;
}

#player_action_gauge2_container {
  left: 2.5%;
}

#enemy_action_gauge1_container {
  left: 37.5%;
}

#enemy_queue_container {
  height: 19em;
  width: 11.5%;
  position: relative;
  left: 38.5%;
}

#hp_bars {
  display: flex;
  margin-bottom: 1em;
}

.hp_bar_container {
  height: 2em;
  width: 30%;
  border-style: solid;
  border-color: black;
  border-width: thin;
  position: relative;
  left: 4%;
  margin-top: 1em;
}

#enemy_hp_bar_container {
  left: 5%;
}

.hp_bar {
  height: 100%;
  position: absolute;
}

#enemy_hp_bar {
  right: 0%;
}

.hp_value {
  position: relative;
  width: 6%;
  margin-top: 0.44em;
}

#player_hp_value {
  left: 3%;
  text-align: right;
}

#enemy_hp_value {
  left: 42%;
  text-align: left;
}

#action_buttons {
  width: 60%;
  height: 10em;
  position: relative;
  left: 10%;
  text-align: center;
}

.action_button {
  height: 70%;
  width: 12%;
  margin-top: 2.5%;
}

#attack_button {
  margin-right: 10em;
}

#textlog {
  border-style: solid;
  border-color: black;
  border-width: medium;
  margin-top: 1em;
}

.textlog_line {
  height: 1.15em;
  border-bottom: dotted;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  padding-left: 0.4em;
}

#textlog_line4 {
  border-bottom: none;
}

#player {
  height: 15em;
  width: 20%;
  position: relative;
  left: 10%;
  margin-top: 2.7em;
}

#enemy {
  height: 15em;
  width: 20%;
  position: relative;
  left: 27%;
  margin-top: 2.7em;
}

#enemy_queue1_container {
  height: 8.5em;
  width: 15.8%;
  position: relative;
  left: 19%;
  margin-top: 1em;
  margin-left: 4em;
  border-style: solid;
  border-color: black;
  border-width: medium;
}
#enemy_queue1 {
  margin-top: 0.3em;
}

.enemy_queue23_container {
  height: 8em;
  width: 100%;
}

#enemy_queue2_container {
  margin-top: 0.5em;
  border-style: solid;
  border-color: black;
  border-width: medium;
}

#enemy_queue3_container {
  margin-top: 1.5em;
  margin-bottom: 1em;
  border-style: solid;
  border-color: black;
  border-width: medium;
}

.enemy_queue_images {
  position: absolute;
  height: 8em;
  width: 100%;
}

#bottom_container {
  display: flex;
}

.enemy_queue_description_box {
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: xx-large;
  margin-left: 0.2em;
  display: none;
}

#upgrades_container {
  background-color: red;
  height: 70%;
  width: 80%;
  position: absolute;
  left: 10%;
  top: 5%;
  z-index: 10;
}

#upgrades_title {
  text-align: center;
}

#upgrades_submit_button {
  position: absolute;
  height: 20%;
  width: 30%;
  left: 35%;
  bottom: 0%;
}

.upgrades_choice {
  position: absolute;
  height: 40%;
  width: 30%;
  left: 10%;
}

#upgrades_choice2 {
  position: absolute;
  left: 60%;
}
