* {
  box-sizing: border-box;
}

html {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: hidden;
}

body {
  background-image: url("images/title_background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
}

header {
  height: 15%;
  margin-top: 1%;
  margin-bottom: 1%;
  display: flex;
  justify-content: center;
}

#title_container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#title {
  font-style: italic;
}

#title_icon {
  height: 100%;
  min-width: 12em;
}

main {
  height: 85%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#top_container {
  height: 25%;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.top_instructions_containers {
  height: 100%;
  width: 30%;
  display: flex;
}

#bot_container {
  height: 70%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#botleft_container {
  height: 100%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.botleft_containers {
  height: 40%;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

#instructions5_container {
  height: 100%;
  width: 51%;
  display: flex;
}

#damage_chart {
  height:100%;
  width: 40%;
}

#instructions46_container {
  width: 95%;
}

.instructions_46image {
  height: 100%;
  min-width: 25%;
}

.instructions_image {
  height: 100%;
  min-width: 30%;
}

.instructions {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2vmin;
  text-align: justify;
  background-color: antiquewhite;
  padding: 0.5em;
  display: flex;
  flex-direction: column;
}

#botright_container {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#start_button_container {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 5%;
}

#misc_buttons_container {
  height: 25%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  bottom: 5%;
}

.misc_buttons {
  height: 50%;
  width: 80%;
}

#start_button{
  height: 60%;
  width: 80%;
}

button {
  border-radius: 1em;
  background-color: lightcoral;
  font-weight: bolder;
}

span {
  text-align: center;
}