#player_action_gauge_flexbox {
  display: flex;
}

#player_action_gauge1_container {
  background-color: grey;
  height: 20em;
  width: 5%;
  margin-right: 1em;
  caret-color: rgba(0, 0, 0, 0);
  position: relative;
}

#player_action_gauge1_progress {
  background-color: yellow;
  height: 0%;
  width: 100%;
  caret-color: rgba(0, 0, 0, 0);
  position: absolute;
  bottom: 0%;
}

#player_action_gauge2_container {
  background-color: grey;
  height: 20em;
  width: 5%;
  caret-color: rgba(0, 0, 0, 0);
  position: relative;
}

#player_action_gauge2_progress {
  background-color: yellow;
  height: 0%;
  width: 100%;
  position: absolute;
  bottom: 0%;
  caret-color: rgba(0, 0, 0, 0);
}

#execute_action {
  margin-top: 1em;
}
